<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Default</title>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/default.css">
    </head>
    <body>
        {% block content %}
        <div class="scroll-watcher">

        </div>
        <nav class="navigation">
            <div class="logo">
                <p class="main-logo">Logo.</p>
            </div>
            <div class="menu">
                <div class="item sign"><a href="#">Sign In/Sign Up</a></div>
            </div>
        </nav>
        <section class="mid-container">
            <div class="main-part">
                <!-- <box-icon type='solid' name='plane-take-off' animation='burst'></box-icon> -->
                <p style="margin-bottom: 20px">Tripmate</p>
            </div>
            <div class="sub-heading">
                Your one stop junction for trip planning.
            </div>
        </section>

        <section class="content">
            <div class="plan-trips">
                <div class="plan-trips-head">
                    <!-- <box-icon name='paper-plane'></box-icon> -->
                    <p>Plan your <br> trips smartly!!!</p>
                </div>
                <div class="planning">
                    <div class="plan-trips-desc">
                        Traveling should be exciting, not stressful! With TripMate, you get a personalized itinerary 
                        based on your interests, budget, and travel group. Whether you're a 
                        foodie, adventure seeker, or nature lover, our AI-powered planner curates the best places to 
                        visit, activities, and hotels tailored just for you. Simply enter your destination, travel 
                        dates, and preferences, and let our smart system handle the rest. Say goodbye to endless 
                        searching, plan your trip effortlessly and make the most of your journey!
                    </div>
                    <form action="{{url_for('home')}}" method="post" class="form">
                        <a href="#plan-trips-form">
                            <button class="plan-trips-desc button" name="plan" value="plan" type="button">Plan Your Trips Now</button>
                        </a>
                    </form>
                    
                </div>
                
            </div>
            <div class="plan-trips">
                <div class="plan-trips-head">
                    <!-- <box-icon name='paper-plane'></box-icon> -->
                    <p>Personalized <br> Recommendation</p>
                </div>
                <div class="planning">
                    <div class="plan-trips-desc">
                        Traveling should be exciting, not stressful! With TripMate, you get a personalized itinerary 
                        based on your interests, budget, and travel group. Whether you're a 
                        foodie, adventure seeker, or nature lover, our AI-powered planner curates the best places to 
                        visit, activities, and hotels tailored just for you. Simply enter your destination, travel 
                        dates, and preferences, and let our smart system handle the rest. Say goodbye to endless 
                        searching, plan your trip effortlessly and make the most of your journey!
                    </div>
                    <form action="{{url_for('home')}}" method="post" class="form">
                        <a href="#plan-trips-form">
                            <button class="plan-trips-desc button" name="plan" value="plan" type="button">Get the Recommendations</button>
                        </a>
                    </form>
                    
                </div>
            </div>
            
        </section>

        <section class = "plan-trips-form" id="plan-trips-form">
            <h1 class="plan-trip-form-heading">Start your planning now</h1>
            <div class="plan-trips-outside-container">
                <div class="plan-trip-form-container">
                    <form action="{{url_for('home')}}" method="POST" class="plan-trip-main-form">
                        <div class="form-group">
                            <label for="name">
                                <span>Enter Your Full Name Here</span>
                            </label><br>
                            <input type="text" name="name" required = "required" id="name"><br>
        
                            <label for="age">
                                <span>Enter Your Age Here</span>
                            </label><br>
                            <input type="number" name="age" id="age"><br>
                            <label for="nom">
                                <span>Number of Members travelling with you</span>
                            </label><br>
                            <input type="number" name="number_of_members" required = "required" id="nom"><br>
                            <label for="days">
                                <span>Number of days you are travelling for</span>
                            </label><br>
                            <input type="number" name="days" required = "required" id="days"><br>
                            <label for="tw">
                                <span>Who is your travel companion</span>
                            </label><br>
                            <select name="travel_with" id="tw" aria-label="travel_with">
                                <option value="friends">Friends</option>
                                <option value="family">Family</option>
                                <option value="solo">Solo</option>
                            </select><br>
                            <label for="type">
                                <span>Which of the following describes you the best</span>
                            </label><br>
                            <select name="type_of_group" id="type" aria-label="type_of_group">
                                <option value="foodie">Foodie</option>
                                <option value="adventure">Adventure Loving</option>
                                <option value="peaceful">Nature Loving</option>
                            </select><br>
                            <label for="tw">
                                <span>Enter your Destination</span>
                            </label><br>
                            <input type="text" name="destination" required = "required" id="destination"><br><br>
                            <div class="plan-trips-form-button">
                                <input type="submit" value="Create">
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            
        </section>

        {% endblock %}
    </body>
</html>