<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Default</title>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/default.css">
    </head>
    <body>
        {% block content %}
        <nav class="navigation">
            <div class="logo">
                <p class="main-logo">Logo.</p>
            </div>
            <div class="menu">
                <div class="item sign"><a href="#">Sign In/Sign Up</a></div>
            </div>
        </nav>
        <section class="mid-container">
            <div class="main-part">
                <!-- <box-icon type='solid' name='plane-take-off' animation='burst'></box-icon> -->
                <p style="margin-bottom: 20px;">Tripmate</p>
            </div>
            <div class="sub-heading">
                Your one stop junction for trip planning.
            </div>
        </section>

        <section class="content">
            <div class="plan-trips">
                <div class="plan-trips-head">
                    <!-- <box-icon name='paper-plane'></box-icon> -->
                    <p>Plan your <br> trips smartly!!!</p>
                </div>
                <div class="plan-trips-desc">
                    Traveling should be exciting, not stressful! With TripMate, you get a personalized itinerary 
                    based on your interests, budget, and travel group. Whether you're a 
                    foodie, adventure seeker, or nature lover, our AI-powered planner curates the best places to 
                    visit, activities, and hotels tailored just for you. Simply enter your destination, travel 
                    dates, and preferences, and let our smart system handle the rest. Say goodbye to endless 
                    searching, plan your trip effortlessly and make the most of your journey!
                </div>
            </div>
        </section>
        
        <form action="{{url_for('home')}}" method="POST">
            <input type="text" name="name" placeholder="Name" required = "required">
            <input type="number" name="age" placeholder="Age">
            <input type="number" name="number_of_members" placeholder="Number Of Members" required = "required">
            <input type="number" name="days" placeholder="Days" required = "required">
            <select name="travel_with" id="tw" aria-label="travel_with">
                <option value="friends">Friends</option>
                <option value="family">Family</option>
                <option value="solo">Solo</option>
            </select>
            <select name="type_of_group" id="type" aria-label="type_of_group">
                <option value="foodie">Foodie</option>
                <option value="adventure">Adventure Loving</option>
                <option value="peaceful">Nature Loving</option>
            </select>
            <input type="text", name="destination", placeholder="Destination", required = "required">
            <input type="submit" value="Create">
        </form>

        {% endblock %}
    </body>
</html>